$white: #ffffff;
$black: #000000;

$grey8: #e9edf2;
$grey10: #f6f8f9;
$grey12: #dadfe4;
$grey16: #b2bcc6;
$grey24: #99a5b3;
$grey40: #788694;
$grey64: #62717e;
$grey80: #21272c;
$grey100: #788694;

$blue8: #d6ecff;
$blue12: #bfe1ff;
$blue24: #a8d4ff;
$blue40: #0088ff;
$blue64: #0075db;
$blue72: #006bc9;
$blue80: #005aaa;

$green: #00b336;
$green16: #d7f7dd;
$green24: #b2eec0;

$yellow: #ffb70f;
$yellow16: #fff3c2;
$yellow24: #ffedab;

$red: #fc311e;
$red16: #ffe1de;

$scrollbar-hover: #707070;
$scrollbar-active: #808080;

$background-dove: #c9d8e5;

$bluePicture: invert(24%) sepia(81%) saturate(4183%) hue-rotate(196deg)
  brightness(100%) contrast(101%);
$whitePicture: brightness(0) saturate(100%) invert(100%) sepia(9%)
  saturate(1647%) hue-rotate(343deg) brightness(109%) contrast(109%);
$greyPicture: invert(55%) sepia(6%) saturate(902%) hue-rotate(169deg)
  brightness(94%) contrast(96%);
$lightGreyPicture: invert(70%) sepia(18%) saturate(239%) hue-rotate(172deg)
  brightness(92%) contrast(86%);
$RedPicture: invert(21%) sepia(76%) saturate(4004%) hue-rotate(351deg)
  brightness(106%) contrast(98%);
$YellowPicture: invert(77%) sepia(28%) saturate(3336%) hue-rotate(350deg)
  brightness(105%) contrast(101%);
