$white: #ffffff;
$black: #000000;

$grey8: #e9edf2;
$grey10: #f6f8f9;
$grey12: #dadfe4;
$grey16: #b2bcc6;
$grey24: #99a5b3;
$grey40: #788694;
$grey64: #62717e;
$grey80: #21272c;
$grey100: #788694;

$blue8: #d6ecff;
$blue12: #bfe1ff;
$blue24: #a8d4ff;
$blue40: #0088ff;
$blue64: #0075db;
$blue72: #006bc9;
$blue80: #005aaa;

$green: #00b336;
$green16: #d7f7dd;
$green24: #b2eec0;

$yellow: #ffb70f;
$yellow16: #fff3c2;
$yellow24: #ffedab;

$red: #fc311e;
$red16: #ffe1de;

$scrollbar-hover: #707070;
$scrollbar-active: #808080;

$bluePicture: invert(24%) sepia(81%) saturate(4183%) hue-rotate(196deg)
  brightness(100%) contrast(101%);
$whitePicture: brightness(0) saturate(100%) invert(100%) sepia(9%)
  saturate(1647%) hue-rotate(343deg) brightness(109%) contrast(109%);
$greyPicture: invert(55%) sepia(6%) saturate(902%) hue-rotate(169deg)
  brightness(94%) contrast(96%);
$lightGreyPicture: invert(70%) sepia(18%) saturate(239%) hue-rotate(172deg)
  brightness(92%) contrast(86%);
$RedPicture: invert(21%) sepia(76%) saturate(4004%) hue-rotate(351deg)
  brightness(106%) contrast(98%);
$YellowPicture: invert(77%) sepia(28%) saturate(3336%) hue-rotate(350deg) brightness(105%) contrast(101%);

// старые стили внизу !!!!!!!

$background: #e5e5e5;
$background-light: #fcfcfc;
$background-dove: #c9d8e5;

$border-black: #c4c4c4;
$border-focused: #0e7fe1;
$black-toolip: #424a51;

$red-error: #cc0e0e;
$orange: #fba628;
$yellow: #ffd338;
$green: #3db449;

$black-10: #f6f8f9;
$black-20: #e9edf2;
$black-30: #dadfe4;
$black-40: #cdd4da;
$black-50: #c0c8d0;
$black-60: #b3bdc6;
$black-70: #a5b0bd;
$black-80: #99a5b3;
$black-90: #8a98a8;
$black-100: #788694;
$black-110: #6a7a88;
$black-120: #62717e;
$black-130: #596774;
$black-140: #515e6a;
$black-160: #3f4b55;
$black-170: #37424b;
$black-190: #282f36;
$black-200: #21272c;

$disabled-med-text: $black-60;
$disabled-reg-text: $black-80;
$secondary-text: $black-100;
$primary-text: $black-200;

$blue-10: #edf7ff;
$blue-20: #d6ecff;
$blue-30: #bfe1ff;
$blue-40: #a8d4ff;
$blue-50: #91c8ff;
$blue-60: #7abdff;
$blue-80: #4da0ff;
$blue-100: #0088ff;
$blue-120: #0075db;
$blue-130: #006bc9;
$blue-150: #005aaa;
$blue-170: #004582;

$green-20: #d7f7dd;
$green-30: #b2eec0;
$green-80: #3bc464;
$green-100: #c8ffbf;
$green-130: #00942c;
$green-150: #008026;
$green-200: #a6ff97;
$green-300: #88f576;
$green-400: #67e453;
$green-500: #53d43e;
$green-600: #40bf2b;
$green-700: #39924c;
$green-800: #1f8235;
$green-900: #0d7a25;

$red-10: #ffefed;
$red-20: #ffe1de;
$red-30: #ffc7c2;
$red-100: #ffb5b5;
$red-130: #c91a0a;
$red-150: #a60e00;
$red-200: #ff9b9b;
$red-300: #ff8686;
$red-400: #fd4848;
$red-500: #ec2222;
$red-600: #cf2e2e;
$red-700: #cc0e0e;
$red-800: #c11f1f;
$red-900: #b91212;

$yellow-10: #fff9d9;
$yellow-20: #fff3c2;
$yellow-30: #ffedab;
$yellow-90: #ffc633;
$yellow-100: #fff7b4;
$yellow-150: #d08000;
$yellow-160: #bf6f00;
$yellow-200: #fff59c;
$yellow-300: #fef078;
$yellow-400: #ffec3f;
$yellow-500: #ffe600;
$yellow-600: #ecd402;
$yellow-700: #ddc702;
$yellow-800: #d4c004;
$yellow-900: #baa700;
