@import 'colors';

@font-face {
  font-family: 'Roboto';
  src: url('../../../style/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../../../style/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../style/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body,
p {
  margin: 0;
}

body {
  font-family: Roboto, 'Roboto', sans-serif;
}

#app {
  height: 100vh;
  background-color: $background-dove;
}